@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');


*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Bellefair' ,serif;
}

a {
    text-decoration: none;
}
nav {
    padding-top: 30px;
}
li{
    list-style: none;
    text-transform: uppercase;
}
.page {
    height: 100vh;
    width: 100vw;
    background: url('./assets/home/background-home-desktop.jpg') no-repeat center/cover;
}
.nav-container {
    display: grid;
    grid-template-columns: 10% 30% 60%;
    align-items: center;
    justify-content: space-between;
} 
hr{ 

    width: 100%;
    background-color:rgb(65, 64, 64);
    height: 1px;
    border: 0;
    font-weight: 300;

}

.logo{
    margin: 0 20px;
    height: 40px;
}
.links-container{
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0.7;
    
}
.links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
   
}
.link{
    font-weight: 300; 
    padding: 20px;
    
}
.link a{
    color: #fff;
    
}
.link:hover, .link:active{
    border-bottom: 3px solid #fff;
    
}

.main-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 100px 200px;
}

.left :first-child{
    color: #fff;
    font-size: 1.3rem;
    font-weight: 300;
    text-transform: uppercase;
}
.left >h1{
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    color: #fff;
} 
.left :last-child{
    color: #fff;
    font-size: 1.1rem;
    line-height: 1.3;
}

.right {
    height: 250px;
    width: 250px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 50%;
    position: absolute;
    bottom: 20%;
    right: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: #fff;
    
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.right:hover{
    padding: 40px;
    transition: 0.5s ease-in-out;
}
.toggle-btn{
    display: none;
}
.toggle-content{
    display: none;
}
@media(max-width:875px){
    .main-page{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .right{
       position: unset;
    }
    body{
        overflow: scroll;
    }
    .page{
        height: auto;
        overflow: scroll;
    }
    p,h1{
        text-align: center;
    }
    .link a{
        font-size: 1rem;
    }
    .logo{
        padding-left: 10px;
    }
    .links-container, hr{
        display: none;

    }
    .toggle-btn{
        display: block;
    }
    .nav-container{
        display: flex;
        padding-right: 40px;
    }
    .toggle-content{
        position: fixed;
        display: block;
        right: 0;
        top: 0;
        background-color: rgba(3, 0, 12, 0.98);
        padding: 10px;
        width: 70%;
        height: 100%;
        visibility: hidden;
    }
    .close-btn{
        position: absolute;
        right: 20px;
        top: 20px;
    }
    .toggle-links-container{
        margin-top: 60px;
    }
    .toggle-link a{
        color: rgb(172, 168, 168);
        font-weight: 300;
       
    }
    .toggle-link{
        margin: 10px 0;
    }
    .toggle-link a:hover{
        color: #fff;
        transition: 0.5s ease-in-out;
    }
    .page{
        background: url('./assets/home/background-home-mobile.jpg') no-repeat center/cover;
    }
    
    
    
}
@media(max-width:314px){
    .page{
        width: 100vw;
        height: 100vh;
    }
    .left :first-child{
        font-size: 1rem;
    }
    .left h1 {
        font-size: 2.5rem;
    }
    .main-page{
        padding: 0 10px;
    }
    .right{
        height: 200px;
        width: 200px;
    }
}

.allcaps {
    text-transform: uppercase;
}
/* destination */
.destination-page{
    background: url('./assets/destination/background-destination-desktop.jpg') no-repeat center/cover;
    height: 100vh;
    width: 100vw;
}
.destination{
    padding: 20px 150px;
}
.destination > h1{
     color: #fff;
     font-weight: 300;
     font-size: 1.1rem;
}
.destination  img {
    height: 300px;
}
.destination-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 30px;
    padding: 0 70px;
}
.destination-links{
    display: flex;
    padding: 0;
    justify-content: space-between;
}
.destination-link{
    color: #fff;
    letter-spacing: 1px;
    font-size: 1.1rem;
}
.destination-link:hover{
    border-bottom: 3px solid #fff;
}
.title{
    font-size: 2.5rem;
    color: #fff;
    font-weight: 300;
}
.destination-text{
    font-size: 1.1rem;
    color: #ccc;
    line-height: 1.3;
}
.line{
    background-color: #ccc;
}
.distance {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
}
.distance h5 {
    color: #ccc;
    font-weight: 300;
}
.distance p {
    color: #fff;
    font-size: 1.2rem;
}
.mars-info,.moon-info,.europa-info,.titan-info{
    display: none;
}


@media(max-width:951px){
    .destination-page{
        background: (url('./assets/destination/background-destination-tablet.jpg') no-repeat center/cover);
    }
    .destination-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0 100px;
    }
    .destination-page{
        height: unset;
    }
    .destination-content > img{
        margin: 50px 0;
    }
    .destination-text,.title{
        text-align: center;
        margin-top: 40px;
    }
    .destination{
        padding:0 50px ;
    }
    .line{
        margin: 30px 0;
        display: block;
    }
    .distance{
        text-align: center;
    }
}
@media (max-width:578px)  {
    .destination-page{
        background: url('./assets/destination/background-destination-tablet.jpg');
    }
    .destination-text{
        padding: 0;
        font-size: 1rem;
    }
    .destination{
        padding: 0;
    }
    .destination-content{
        padding: 0 50px;
    }
    .distance{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .distance h5 , .distance p{
        margin: 10px;
    }
}
@media(max-width:314px){
    .destination-link{
        font-size: smaller;
        margin: 0 9px ;
    }
    .destination-content > img{
        height: 200px;
    }
}

/* crew */
.crew-page{
    background: url('./assets/crew/background-crew-desktop.jpg') no-repeat center/cover;
    height: 100vh;
}
.crew-content > h1{
    color: #fff;
    font-weight: 300;
    font-size: 1.1rem;
}
.crew-content {
    padding:0 200px;
}
.crew-infos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.dots {
    display: flex;
    align-items: center;
    justify-content: center;
}
.dot{
    width: 10px;
    height: 10px;
    background-color:rgba(255,255,255,0.3);
    margin: 0 10px; 
    border-radius: 50%;
}
.dot:hover{
    background-color:rgba(255,255,255,1.0);
}
.job {
    color: #ccc;
    font-size: 1.1rem;
}
.name {
    color: #fff;
    font-size: 2.3rem;
    font-weight: 300;
}
.about {
    text-align: start;
    color: #ccc;
    line-height: 1.3;
    margin-bottom: 90px;
}
.crew-infos-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    width: 400px;
    
}
.crew-container{
    width: 400px;
}
.crew-two,.crew-three,.crew-four{
    visibility: visible;
    
}


.crew-image2,.crew-image3,.crew-image4,.crew-image1{
    visibility: hidden;
    width: 500px;
}

.crew-content-container {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    column-gap: 30px;
    align-items: center;
    justify-content: center;
}
.crew-images {
   display: flex;
    align-items: center;
    height: 500px;
    width: 500px;
    overflow: hidden;
}
.crew-image{
    width: 500px;
}
.crew-infos-container{
    overflow: hidden;
}
.show{
    display: block;
}

@media(max-width:1013px){
   .crew-page{
       height: unset;
       background: url('./assets/crew/background-crew-tablet.jpg')no-repeat center/cover;
   }
   .crew-content-container {
        display: grid;
        grid-template-columns: unset ;
        grid-template-rows: 1fr 1fr ;
        column-gap: 0px;
        align-items: center;
        justify-content: center;
    }
    .job{
        text-align: center;
    }
    .name{
        text-align: center;
    }
    .about{
        text-align: center;
    }
    .crew-infos{
        align-items: center;
    }
    .crew-container{
        width: 500px;
    }
    .crew-infos-container{
        width: 500px;
    }
    .crew-images{
        margin-bottom: 30px;
    }
}
@media(max-width:578px){
    .crew-page{
        background: url('./assets/crew/background-crew-mobile.jpg') no-repeat center/cover;
    }
    
    .crew-images{
        grid-row: span 1/2;
    }
    .crew-infos{
        display: grid;
        grid-template-rows: auto;
        align-items: center;
        justify-content: center;

    }
    .dots{
        grid-row: span 1/2;
        margin-bottom: 30px;
    }
    .crew-infos-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        width: 400px;
        
    }
    .crew-container{
        width: 400px;
    }
    .crew-images{
        width: 400px;
    }
    .crew-image{
        width: 400px;
    }
    .crew-content{
        padding: 0 20px;
    }
    
}
@media(max-width:411px){
    .crew-content{
        padding: 0;
    }
    .crew-infos-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        width: 300px;
        
    }
    
    .crew-container{
        width: 300px;
        padding: 0;
    }
    .crew-images{
        width: 300px;
    }
    .crew-image{
        width: 300px;
    }
}
@media(max-width:310px){
    .crew-infos-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        width: 200px;
        
    }
    .crew-container{
        width: 200px;
    }
    .crew-images{
        width: 200px;
        height: 300px;
    }
    .crew-image{
        width: 200px;
    }
    .crew-content-container{
        grid-template-rows: auto;
    }
    
}

/* technology */
.technology-page {
    background: url('./assets/technology/background-technology-desktop.jpg') no-repeat center/cover;
    height: 100vh;
    width: 100vw;
}
.technology-content{
    padding-left:100px;
}
.technology-content > h1 {
    color: #fff;
    font-weight: 300;
    font-size: 1.1rem;
}
.technology-infos{
    display: grid;
    grid-template-columns:5% auto auto;
    column-gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.number {
    background-color: transparent;
    color: #fff;
    height: 50px;
    width: 50px;
    font-size: 1.3rem;
    margin: 20px 0;
    border: 1px solid rgb(129, 129, 129);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.number:hover{
    border: 1px solid #fff;
}
.activenumber{
    color: #000;
    background-color: #fff;
}
.number-info{
    padding: 0 30px;
    padding-right: 100px;
}
.number-info :first-child{
    font-size: 1.1rem;
    color: #ccc;
    margin-top: 0;
}
.technology-name {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #fff;
    font-weight: 300;
}
.technology-text{
    color: #ccc;
    line-height: 1.4;
    font-size: 1.1rem;
    margin-bottom: 0;
}
.technology-img{
    height: 300px;
    width: auto;
}
.landscape-img {
    display: none;
}
@media(max-width:947px){
    
    .technology-page{
        height: unset;
        background: url('./assets/technology/background-technology-tablet.jpg') no-repeat center/cover;
    }
    .technology-infos{
        display: grid;
        grid-template-columns: unset;
        padding: 100px 0;
        align-items: center;
        justify-content: center;
        height: auto;
    }
    .technology-img{
        grid-row: span 1/2;
        height: 100%;
        margin-bottom: 60px;
        justify-self: center;
    }
    .numbers{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .number{
        margin: 30px 30px;
    }
    .technology-name{
        text-align: center;
    }
    .number-info :first-child{
        text-align: center;
    }
    .number-info{
        padding: 0;
        margin-top: 0;
    }
    .technology-text{
        text-align: center;
    }
    .technology-content{
        padding: 0 100px;
    }
}
@media(max-width:712px){
    
    .technology-img{
        display: none;
    }
    .landscape-img{
        display: block;
        grid-row: span 1/2;
        width: 100%;
    }
    .number-info{
        padding: 0 150px;
    }
    .technology-content{
        padding: 0 20px;
    }
    .number-info{
        padding: 0 10px;
    }
}
@media(max-width:452px){
.technology-page{
    height: 100vh;
}
    .number-info{
        padding: 0 10px;
    }
    .technology-infos{
        padding: 0 10px;
    }
    .technology-content{
        padding: 0;
    }
    .number{
        height: 30px;
        width: 30px;
        font-size: 0.91rem;
        margin: 20px 10px;
    }
    .number-info :first-child{
        font-size: 1rem;
    }
    .technology-name{
        font-size: 2rem;
    }
    .technology-text{
        font-size: 1rem;
        margin-bottom: 20px;
    }
}

/* active */
.toggle-active {
    visibility: visible;
    transition: 0.5s ease-in-out;
}
.show-destination{
    display: block;
}
.active-destination {
    border-bottom:  3px solid #fff;
}
.active-dot {
    background-color: #fff;
}